.section-uni {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: space-around;
    flex-wrap: wrap;
    margin-top: 10vh;
    position: relative;
}

.info-uni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55vw;
    height: 550px;
}
.info-uni div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-info-uni {
    width: 25vw;
    padding-left: 10vw;
}
.container-info-uni h1 { 
    color: #007E5B;
}
.img-section img {
    width: 400px;
}
.info-uni div ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10vw;
}
.info-uni ul img {
    margin-right: 10px;
}
.galery-uni {
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 65%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.galery-div-group {
    height: 222.08px;
}
.galery-image {
    max-width: 400px;
}
/*breakpoints*/
@media screen and (max-width:1435px){

    .info-uni {
        flex-direction: column;
        width: 100vw;
    }
    .container-info-uni {
        width: 80%;
    }
    .img-section img {
        display: none;
    }
    .galery-uni {
        align-self: center;
    }
    
}
.vc-list-marg{
    margin-top: 10px;
    margin-bottom: 10vh;
}
@media screen and (max-width:645px) {
    .info-uni {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .container-info-uni {
        width: 100%;
    }
    .container-info-uni {
        width: 100vw;
    }
    .img-section img {
        width: 100vw;
        display:run-in;
    }
}
