.section-multimedia {
    color: aliceblue;
    width: 100%;
    height: max-content;
    background-color: #262526;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 10px 5px #00000025;
}
.section-multimedia img {
    max-width: 450px;
    max-height: 250px;
}
 
.video-loteo{
    max-height: 250px;
    max-width: 450px;
}