.brand-style img{
    width: 207px;
}

@media screen and (max-width: 600px) {
    .brand-style img {
        width: 180px;
    }
}

@media screen and (max-width: 370px) {
    .brand-style {
        width: 150px;
    }
}