.section-multi {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: space-around;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.info-multi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55vw;
    height: 550px;
}
.info-multi div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-multi div div {
    width: 25vw;
    padding-left: 10vw;
}
.img-section img {
    width: 400px;
}
.info-multi div ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10vw;
}
.info-multi ul img {
    margin-right: 10px;
}
/*estilo de galeria*/
.galery-multi {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 65%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.galery-div-group {
    height: 222.08px;
}
.galery-image {
    max-width: 400px;
}

/*fin de estilo de galeria*/

/*carousel de multifamiliar*/
.carousel-multi {
    height: 50vh;
    width: 100%;
}
.carousel-multi div img {
    height: 55vh;
    width: 100vw;
    object-fit: cover;
}
/*fin carosel de multifamiliar*/