.navbar-style {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    color: #EBEDF2;
    cursor: default;
    width: 75%;
    justify-content: end;
}

.navbar-style nav {
    background-color: transparent !important;
}

.nav-link {
    color: #EBEDF2;
}

.nav-link:hover{
    color: #007E5B;
}

.navbar-nav {
    justify-content: space-around;
}