.navbar-style {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    color: #EBEDF2;
    cursor: default;
    width: 75%;
    justify-content: end;
}

