.navBar {
    --state-Close: scale(0);
    --state-Hambur: scale(1);
    --state-menu: translatey(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }
  
  .navLogo {
    width: 17.6rem;
    z-index: 3;
  }
  
  .navBar:target {
    --state-Close: scale(1);
    --state-Hambur: scale(0);
    --state-menu: translate(0);
  }
  
  .navHambur,
  .navClose {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: 0.4s transform;
  }
  
  .navHambur {
    transform: var(--state-Hambur);
    z-index: 3;
  }
  
  .navClose {
    transform: var(--state-Close);
    z-index: 3;
  }
  
  .navIcon {
    width: 40px;
    font-size: 46px;
    color: #989DA6;
    margin-right: 25px;
  }
  
  .navList {
    background-color: #005A3F;
    position: absolute;
    height: 62%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: 0.3s transform;
    z-index: 2;
  }
  
  .navItem {
    list-style: none;
  }
  
  .navLink {
    color: #EBEDF2;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: color 0.27s;
  }
  .navLink:target {
    transform: var(--state-menu);
  }
  .navLink:hover{
    color: #007E5B;
  }
  
  @media (min-width: 1255px) {
    .navBar {
      --state-Close: scale(0);
      --state-Hambur: scale(0);
      --state-menu: translate(0);
    }
    .navBar:target {
      --state-Close: scale(0);
    }
    .navList {
      padding: 0;
      background-color: unset;
      position: unset;
      gap: 1.5em;
      grid-auto-flow: column;
      transform: unset;
      grid-column: -2/-1;
      grid-row: 1/2;
      
    }
    .navLink {
      font-size: 1rem;
      letter-spacing: none;
    }
  }
@media screen and (max-width:645px){
    .navIcon svg {
      width: 30px;
    }
  }
@media (max-width: 1255px) {
    .navList {
      box-shadow: 0px 10px 5px #00000071;
    }
  }