.footer-style {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #989DA6;
}
.footer-style ul {
    list-style: none;
}
.data-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 4vh;
}
.data-list li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.socialbar {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.social-item:hover {
    color: #007E5B;
}
.signature {
    background-color: black;
    color: #989DA6;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
@media screen and (max-width:500px) {
    #socialBarFooter {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: auto;
    }
    .footer-style {
        flex-direction: column;
    }
    .data-list {
        margin-top: 0;
    }

}