body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-image-1 {
  background: #EBEDF2 url("../src/components/images/Multifamiliares/040_SuroesteDARK.jpg");
  box-shadow: 0px 10px 5px #00000025;
  background-size: 100% 100vh; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-image-2 {
  background: #EBEDF2 100% 90vh;
  box-shadow: 0px 10px 5px #00000025;
  background-size: 100% 100vh; 
  background-repeat: no-repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width:960px){
  .background-image-1 {
    background: #EBEDF2 url("../src/components/images/Multifamiliares/040_SuroesteDARK.jpg");
    box-shadow: 0px 10px 5px #00000025;
    background-size: cover;
 
    background-repeat: no-repeat;
    background-attachment: fixed;;
  }
}